.background-container {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    background-color: rgba(255, 255, 255, 0.9); /* Slight transparency */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.profile-picture img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.profile-info h2 {
    margin-top: 10px;
    font-size: 24px;
}

.profile-info p {
    margin-top: 5px;
    color: #666;
}