/* App.css */

body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
  }
  
  .App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  
  
  .main-section {
    padding: 20px;
    
  }
  
  .tag-div {
    display: flex;
    column-gap: 20px;
    padding: 20px;
  }
  
  .tag-div > button{
    border-radius: 10%;
    border: none;
    font-size: 24px;
    padding: 5px 20px;
    cursor: pointer;
  }
  
  .shop-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .shop-image {
    min-width: 20vw;
    min-height: 200px;
    border-radius: 8px;
    margin-right: 3%;
  }
  
  .shop-name {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
  .tag {
    color: gray;
    font-size: 20px;
  }
  
  h3 {
    font-size: 28px;
  }
  
  .shop-details {
    align-self: start;
    flex-grow: 1;
    padding-right: 5%;
  }
  
  
  .shop-details > p {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  
  .shop-meta {
    text-align: center;
    padding-right: 4vw;
    min-width: 100px;
    font-weight: 500;
  }
  
  .shop-meta > div {
    padding: 10px 0;
    border-radius: 25px;
  }
  
  
  
  @media (max-width: 768px) {
    .shop-item {
      flex-direction: column;
      align-items: center;
  
    }
    .shop-details {
      flex-grow: 1;
      padding: 0;
    }
  
    .shop-details > p {
      font-size: 18px;
    }
    
    .shop-meta{
      padding: 0;
    }
  }
  