

.schedule_form_page {
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;

}

.schedule_form_page_data {
    display: flex;
    justify-content:center;
    gap: 100px;
}

.form_schedule {
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 100vw;
	font-size: 18px;

}

.react-time-picker__clear-button.react-time-picker__button {
	margin-top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.react-time-picker__clock-button.react-time-picker__button {
	margin-top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.create_btn_createAppointment {
	width: 200px;
	margin: 0px;
	height: 60px;
    background-color: greenyellow;
}

.goback_btn {
	height: 60px;
	width: 100px;
	margin-left: 60vw;
}
input.react-time-picker__inputGroup__input:nth-child(4) {
    width: 25px;
}

input.react-time-picker__inputGroup__input:nth-child(2) {
    width: 25px;
    margin-left: 15px;
}
.react-time-picker__inputGroup__divider {
	margin-left: 5px;
	margin-right: 5px;
}

.react-time-picker__inputGroup {
	width: 90px;
	height: 50px;
}

.react-time-picker__wrapper {
	margin-bottom: 5px;
}

.react-time-picker {
    margin-bottom: 5px;
}

.react-time-picker__inputGroup__input.react-time-picker__inputGroup__amPm {
	width: 50px;
}

.select_barber {
    font-size: 18px;
    width: 200px;
	height: 40px;
}