

.page {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/ShopBackground.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    background-color: azure;
    color: black;
}