/* App.css */

body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #D9D9D9;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}



.history-section {
  padding: 20px;
  
}

.history-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

.shop-image {
  min-width: 20vw;
  height: 200px;
  border-radius: 8px;
  margin-right: 3%;
}

.shop-details {
  align-self: start;
  flex-grow: 1;
  padding-right: 5%;
}

.shop-details > h3 {
  font-size: 28px;
}
.shop-details > p {
  font-size: 20px;
}

.shop-meta {
  text-align: center;
  padding-right: 4vw;
  min-width: 100px;
  font-weight: 500;
}

.shop-meta > div {
  background-color: #72D572;
  padding: 10px 0;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .history-item {
    flex-direction: column;
    align-items: center;

  }
  .shop-details {
    flex-grow: 1;
    padding: 0;
  }
  
  .shop-meta{
    padding: 0;
  }
}
