.shopContainer{
    margin:4rem;
    background-color: white;
    border-radius: 25px;
    display:flex;
    flex-direction: column;
}
.shopInfoContainer{
    display:flex;
    margin:2rem;
    
}

.shopInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis:100%;
}

.shopPic{
    width: 600px;
    height: 200px;
    margin:2rem;
    align-self: center;
    justify-content: center;

}
.shopPic img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
  }
.shopDescription{
    text-indent: 50px;
}
.buttonContainer{
    display:flex;
    align-self: flex-end;
    justify-content: flex-end;
    gap:10px;
}
.reserveBut {
    button{
        padding: 10px 20px;
        background-color: rgb(0, 90, 0);
        color:white;
        border: none;
        cursor: pointer;
        border-radius: 20px;
    }
}
.barberScdBut {
    button{
        padding: 10px 20px;
        background-color: rgb(0, 90, 0);
        color:white;
        border: none;
        cursor: pointer;
        border-radius: 20px;
    }
}
.allServcBut {
    button{
        padding: 10px 20px;
        background-color: rgb(0, 90, 0);
        color:white;
        border: none;
        cursor: pointer;
        border-radius: 20px;
    }
}
.reserveBut:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.barberScdBut:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.allServcBut:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.barberContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
}
.barberBox{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:1rem;
}
.barberPic{
    width: 150px;
    height: 150px;
    margin: 2rem auto; /* Centers the image horizontally */
    border-radius: 50%; /* Makes the image circular */
    overflow: hidden;
    
}
.barberPic img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }